.App {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  background-color: #d6f7e7;
}

.App-header {
  width: 300px;
  margin: 20px auto;
}

.App-logo {
  max-width: 300px;
  text-align: center;
}
.App-footer {
  text-align: center;
  margin: 30px 0;
}
