.App {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  background-color: #caf6f7;
}

.App-header {
  width: 150px;
  margin: 20px auto;
}

.App-logo {
  max-width: 200px;
  display: block;
  margin: 0 auto;
}
.App-footer {
  text-align: center;
  margin: 30px 0;
}
